.logo{
    font-family: "aglet-slab-variable",sans-serif;
    font-variation-settings: 'wght' 600;
}
p{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.5px;
}
h1{
   font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h2{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 600;
    font-style: normal;
}
h3, nav{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}